.filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 900;
    padding-top: 35px;
}

.filters > div {
    display: flex;
    gap: 1rem;
}

.filters > div > select {
    font-size: 15px;
    font-weight: 600;
}

@media screen and (max-width:600px) {
    .filters {
        display: block;
        position: relative;
        font-size: 15px;
    }
}